body {
    font-family: Arial, sans-serif;
    background-color: #050505;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #c22222;
}

#game {
    background-color: #ebe7e7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#clue {
    font-style: italic;
    color: #888;
}

#wordDisplay {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

#guessInput {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#message {
    font-weight: bold;
    margin-top: 20px;
    color: #ff6347;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 2px;
    /* reduziu de 5px para 2px */
    font-size: 12px;
    /* adicionou essa propriedade para reduzir o tamanho da fonte */
    position: fixed;
    bottom: 0;
    width: 100%;
}

#clueContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#clue {
    font-weight: bold;
    margin-right: 10px;
}

#clueText {
    font-size: 18px;
    color: #666;
}

#hintButton {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

#hintButton:hover {
    color: #aaa;
}